<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!--<![endif]-->

   <style>
       #invoice-POS{
           box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
           padding:2mm;
           margin: 0 auto;
           /*width: 75%;*/
           background: #FFF;


       ::selection {background: #f31544; color: #FFF;}
       ::moz-selection {background: #f31544; color: #FFF;}
       h1{
           font-size: 1.5em;
           color: #222;
       }
       h2{font-size: .9em;}
       h3{
           font-size: 1.2em;
           font-weight: 300;
           line-height: 2em;
       }
       p{
           font-size: .7em;
           color: #666;
           line-height: 1.2em;
       }

       #top, #mid,#bot{ /* Targets all id with 'col-' */
           border-bottom: 1px solid #EEE;
       }

       #top{min-height: 100px;}
       #mid{min-height: 80px;}
       #bot{ min-height: 50px;}

       #top .logo{
       //float: left;
           height: 60px;
           width: 60px;
           background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
           background-size: 60px 60px;
       }
       .clientlogo{
           float: left;
           height: 60px;
           width: 60px;
           background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
           background-size: 60px 60px;
           border-radius: 50px;
       }
       .info{
           display: block;
       //float:left;
           margin-left: 0;
       }
       .title{
           float: right;
       }
       .title p{text-align: right;}
       table{
           width: 100%;
           border-collapse: collapse;
       }
       td{
       //padding: 5px 0 5px 15px;
       //border: 1px solid #EEE
       }
       .tabletitle{
       //padding: 5px;
           font-size: .5em;
           background: #EEE;
       }
       .service{border-bottom: 1px solid #EEE;}
       .item{width: 24mm;}
       .itemtext{font-size: .5em;}

       #legalcopy{
           margin-top: 5mm;
       }



       }
   </style>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>

<div id="invoice-POS">

    <center id="top">
        <div class="logo"></div>
        <div class="info">
            <h2>Bites Receipt Details</h2>
        </div><!--End Info-->
    </center><!--End InvoiceTop-->

    <div id="mid">
        <div class="info">
            <h2>Contact Info</h2>
            <p>
                Address : {{address}}</br>
                Email   : {{email}}</br>
            </p>
        </div>
    </div><!--End Invoice Mid-->

    <div id="bot">

        <div id="table">
            <table>
                <tr class="tabletitle">
                    <td></td>
                    <td class="Rate"><h2>Charges</h2></td>
                    <td class="payment"><h2>{{charges}} {{currency}}</h2></td>
                </tr>

                <tr class="tabletitle">
                    <td></td>
                    <td class="Rate"><h2>Delivery</h2></td>
                    <td class="payment"><h2>{{delivery}} {{currency}}</h2></td>
                </tr>

                <tr class="tabletitle">
                    <td></td>
                    <td class="Rate"><h2>Vat</h2></td>
                    <td class="payment"><h2>{{vat}} {{currency}}</h2></td>
                </tr>

                <tr class="tabletitle">
                    <td></td>
                    <td class="Rate"><h2>Total</h2></td>
                    <td class="payment"><h2>{{total}} {{currency}}</h2></td>
                </tr>

            </table>
        </div><!--End Table-->

    </div><!--End InvoiceBot-->
</div><!--End Invoice-->

</body>

</html>
